{
  "db": {
    "uri": "postgresql://root:password@localhost/stocktracer"
  },
  "env": "local",
  "stock-tracer": {
    "refresh_interval": "10m"
  },
  "salt": "",
  "robinhood": {
    "mfa_application_identifier": "",
    "username": "",
    "password": ""
  }
}
